@import url(https://fonts.googleapis.com/css?family=Spectral+SC);


body {
	min-height:	90vh;	
    background-color: #f7f7f7;
    font-family: 'Spectral SC', serif;
}

.header {
	margin-top: 10px;
    margin-bottom: 10px;
	text-align: center;

}

.content {
	

	min-height: 70vh;	
	
	margin: 10px 20px 10px 20px;
	border: 4px solid #B9B9B9;
	border-radius: 400px/70px;	

}

.summand {
	min-height: 41vh;

}

.summand_N {

}

#n1 {
	display: inline-block;
	margin: 5vw 0px 0px calc(20vw - 40px);

}

#n2 {
	display: inline-block;
	margin: 5vw calc(20vw - 40px) 0px 0px;
	float: right;

}

.results {
	text-align: center;

}

.results a {
	height: 10px;
	width: 30px;
	border-color: #A15050;

}

.footer {

	
	margin-top: 60px;
    margin-bottom: 10px;
	text-align: right;
	
}